.journal
.mainlock
.wlock
.ts
.git
/java-lib/hyper/hyperd
**/*.pyc
.coverage
.htmlcov
**/.DS_Store
.idea
venv
env
**/hyperd*.log
dist
tests/allure_report
unit.xml
java-build/
java-lib/dss-plugin-tableau-hyper-export.jar
java-lib/java-lib/junit-4.13.2.jar
java-lib/java-lib/hamcrest-core-1.3.jar